## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Ans:

In [1]:
import pandas as pd

In [2]:
data = [4, 8, 15, 16, 23, 42]

In [3]:
series = pd.Series(data)

In [4]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

Ans :

In [5]:
import pandas as pd

In [6]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
series_from_list = pd.Series(my_list)

In [8]:
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice,
Bob,
Claire

Age
25,
30,
27

Gender
Female,
Male,
Female


Then, print the DataFrame.

Ans :

In [13]:
import pandas as pd

In [14]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [15]:
df = pd.DataFrame(data)

In [16]:
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans -

* **DATAFRAME :-**

A DataFrame in pandas is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a spreadsheet or SQL table, where each column is a pandas Series. A DataFrame can store and manipulate data in a tabular form with rows and columns. It provides various functionalities for data analysis and manipulation.

* EXAMPLE :-

In [19]:
data = {'A': pd.Series([1, 2, 3]), 'B': pd.Series([4, 5, 6])}

In [20]:
df = pd.DataFrame(data)

In [22]:
print(df)

   A  B
0  1  4
1  2  5
2  3  6

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans-

**Some common functions to manipulate data in a Pandas DataFrame include :-**

**'head'(), 'tail'(), 'info'(), 'describe'(), 'groupby'(), 'pivot_table'(), 'dropna'(), 'fillna'(), 'merge'(), 'join'(), 'sort_values'(), 'apply'(), etc.**

* Example:-

* **'head'( ) :-**

In [30]:
import pandas as pd

In [31]:
data = {'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']}

In [32]:
df = pd.DataFrame(data)

In [34]:
print(df.head(2))

   A  B
0  1  a
1  2  b

* **'tail'( ) :-**

In [36]:
print(df.tail(2))

   A  B
3  4  d
4  5  e

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans :-

Among Series, DataFrame, and Panel, both Series and DataFrame are mutable in nature.

A mutable object is one that can be modified after it is created. In the context of pandas:

- Series: Individual elements in a Series can be modified, added, or removed.
- DataFrame: Columns and rows in a DataFrame can be modified, added, or removed.

**Panel is immutable in nature. Panel was a data structure in pandas that was removed in version 0.25.0 due to limited use cases and lack of consistency with other data structures in pandas.**

# Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans :-

In [41]:
import pandas as pd

In [47]:
s1 = pd.Series([35,52, 88])
s2 = pd.Series(['A', 'B', 'C'])

In [45]:
df = pd.DataFrame({'Column1': s1, 'Column2': s2})

In [46]:
print(df)

   Column1 Column2
0       35       a
1       52       b
2       88       c